In [1]:
import streamlit as st
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import json  
from pandas.io.json import json_normalize

In [2]:
 
with open('/data/www/stats-archive/stats_2020-09-24-20-37.json') as f: 
    d = json.load(f)

In [12]:

df_games = json_normalize(d,'games') 
df_games.columns = ['Team1','Team2','Layout','Score','Winner','Time']

In [23]:

df_games = df_games.assign(ReplayFile="<a href=\""+df_games.Team1 + "_vs_" + df_games.Team2 + "_"+ df_games.Layout + ".replay\"> Download Replay </a>")
#df_games = df_games.assign(replay=f'{df_games.Team1}_vs_{df_games.Team2}_{df_games.Layout}.replay')

In [4]:
np.unique(df_games[['Team1','Team2']].values)

array(['funpacman', 'staff_team_basic', 'staff_team_medium',
       'staff_team_super', 'staff_team_top'], dtype=object)

In [5]:
teams_to_compare = ['funpacman', 'staff_team_basic']

comparison = df_games[(df_games['Team1'].isin(teams_to_compare)) & (df_games['Team2'].isin(teams_to_compare)) ]

In [6]:
comparison[ comparison['Team1'] == comparison['Winner'] ]

       Team1             Team2             Layout  Score     Winner  Time
0  funpacman  staff_team_basic         RANDOM9192     25  funpacman    55
1  funpacman  staff_team_basic  contest07cCapture     11  funpacman    72
5  funpacman  staff_team_basic   contest14Capture     13  funpacman    61
6  funpacman  staff_team_basic         RANDOM7701      8  funpacman    71

In [7]:
comparison.loc[ comparison['Winner'].isnull() ]

       Team1             Team2            Layout  Score Winner  Time
3  funpacman  staff_team_basic  contest01Capture      0   None    74
7  funpacman  staff_team_basic        RANDOM8592      0   None    74
8  funpacman  staff_team_basic  contest13Capture      0   None    67

In [8]:

games_t = {}
wins_t = {}
draws_t = {}
total_draws = 0

comparison_labels = [ ]
comparison_values = [ ]

for t in teams_to_compare:
    games_t[t] =  comparison.loc[ (comparison['Team1'] == t ) | (comparison['Team2'] == t) ]
    wins_t[t] = comparison[ comparison['Winner'] == t ]     
    draws_t[t] = games_t[t].loc[ games_t[t]['Winner'].isnull() ] 
    
    total_draws += len(draws_t[t].index)

    comparison_labels += [f'{t} wins']
    comparison_values += [len(wins_t[t].index)]

total_draws /= 2            

comparison_labels += ['Draws']
comparison_values += [total_draws]

In [10]:
 d['team_stats']

{'funpacman': [23, 6, 5, 29, 0, -193],
 'staff_team_basic': [15, 3, 6, 31, 0, -366],
 'staff_team_medium': [58, 19, 1, 20, 0, -223],
 'staff_team_top': [79, 25, 4, 11, 0, 192],
 'staff_team_super': [117, 39, 0, 1, 0, 590]}

In [28]:
df_stats = pd.DataFrame(columns=['Points', 'Win', 'Tie', 'Lost', 'FAILED','Score'], data=d['team_stats'].values(), index=d['team_stats'].keys()).sort_values(by='Points',ascending=False)

# Create Position in the Table
df_stats['Position'] = list(range(1,len(df_stats.index)+1))
df_stats = df_stats[['Position','Points', 'Win', 'Tie', 'Lost', 'FAILED','Score']]

In [29]:
df_stats.Position['staff_team_basic']

5

In [32]:
'staff_team_basic' in df_stats.index

False